.gif_item {
    border: 1px solid #d9d9d9;
    margin: 25px 2px 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    min-height: 200px;
}

.gif_item:hover {
    z-index: 2;
}

*, div {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    -webkit-font-smoothing: antialiased;
}
#container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    background: #fff;
}
.sw {
    float: left;
    width: 100%;
    height: 80px;
    background: #2384ff;
    padding: 15px 45px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 0 0px rgba(0, 0, 0, .1);
}
.sw form {
    float: left;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.sw .search {
    flex: 1 1 auto;
    order: 2;
    outline: none;
    border: none;
    border-radius: 0;
    background: #fff;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    height: 50px;
    transition: all 0.05s ease-in-out;
    font-size: medium;
    -webkit-appearance: none;
}

.sw .search:focus + .go {
    color: #533687;
}

.sw .go {
    flex: 1 1 auto;
    order: 3;
    max-width: 50px;
    display: inline-block;
    border: none;
    background: #fff;
    color: #ccc;
    height: 50px;
    align-items: right;
    transition: all 0.05s ease-in-out;
    font-size: 21px;
    outline: none;
}

.loading {
    position: relative;
    top: 10%;
    left: 50%;
    bottom: 10%;
}
.loading-bar {
    display: inline-block;
    width: 4px;
    height: 18px;
    border-radius: 4px;
    animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
    background-color: #3498db;
    animation-delay: 0;
}
.loading-bar:nth-child(2) {
    background-color: #c0392b;
    animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
    background-color: #f1c40f;
    animation-delay: .18s;
}
.loading-bar:nth-child(4) {
    background-color: #27ae60;
    animation-delay: .27s;
}

@keyframes loading {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1, 2.2);
    }
    40% {
        transform: scale(1);
    }
}


.shine {
    background: #f6f7f8 linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%) no-repeat;
    background-size: auto auto;
    display: inline-block;
    position: relative;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes placeholderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}


